body, div, span, p, input, button, blockquote, a {
  @include Apercu();
  border: none;
}
textarea, h1, h2, h3, h4, h5, h6{ 
  @include Apercu();
}

@media (max-width: $tablet) {
  .container {
    max-width: 100vw;
    padding-right: 2rem;
    padding-left: 2rem;
    
    &.pdp-container {
      padding-right: 0;
      padding-left: 0;
    }
  }
}