.mobileNavigationDrawer {
  position: fixed;
  top: 95px;
  height: calc(100% - 95px);
  width: 100%;
  z-index: 99;
  background: #fff;
  overflow: auto;
  left: -100%;
  // transition: ease-in-out left 0.5s;
  transition: left .35s cubic-bezier(.33,.59,.14,1);
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid $color-mint;

  &.mobile-navigation-open {
    left: 0;
  }
}

.mobileNavigationDrawer__footer {
  padding: 1rem;
  background: $color-pale-mint;
  flex-grow: 1;

  .socialFollowIcons {
    margin-bottom: 13px;
    color:$color-black;
  }

  .socialFollowIcons__single {
    color:$color-black;
  }

  a {
    display:block;
    font-size: 14px;
    line-height: 172.2%;
    text-align: center;
    text-decoration-line: underline;
    color: $color-dark-green;
  }
}


.mobileNavigation {
  padding: 1rem;

  .navigationBlock__link {
    display:flex;
    justify-content: space-between;
  }

  .navigationBlock__tier--1 {
    padding:18px 0; 
    border-top:1px solid $color-mint;
    font-size: 18px;
    line-height: 142.2%;
    text-transform: capitalize;
    color: #292929;
    @include Apercu(300);

    &:last-child {
      border-bottom:1px solid $color-mint;
    }

    .navigationBlock__single--card {
      width: calc(50% - 8%); 

      .navigationLink__image {
        margin-bottom:13px;
        width: 100%;
      }
    }

    .navigationBlock {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      max-height: 0px;
      visibility: hidden;
      opacity: 0;
      // transition: all .35s cubic-bezier(.33,.59,.14,1);
      transition: max-height 0.4s ease-in-out, visibility 0.4s ease-in-out, opacity 0.4s ease-in-out;
      overflow: hidden;
      margin: 0 -4%;
    }


    .navigationBlock--open {
      max-height: 10000px;
      visibility: visible;
      opacity: 1;
    }


    .navigationBlock__single {
      padding:24px 0 14px;
      margin: 0 4%;

      .navigationLink {
        font-size: 14px;
        line-height: 172.2%;
        width: 100%;
      }
    }

    .navigationBlock__single--spacer {
      width:100%;
      padding:0;
      margin:0;
    }

    .navigationBlock__toggle {
      transition: ease-in-out 0.2s;
      &.navigationBlock__toggle--open {
        transform: rotate(180deg);
      }
    }

    @media(min-width:$mobile){
      .navigationBlock__single--card {
        width: calc(50% - 8%);
      }  
    }
  }


  .navigationBlock__single--collections {
    .navigationBlock__single--card { 
      width: calc(33% - 8%);
      margin:0 4%;
    }

    .navigationBlock {
      margin: 0 -4%;
    }
  }

}


.accountNavigation {
  padding: 1rem;
  border-bottom:1px solid $color-mint;

  .navigationBlock__tier--1{
    font-size: 14px;
    line-height: 172.2%;
    color: #292929;
    padding:12px 0; 
    @include Apercu(300);

    .navigationBlock__megamenu {
      visibility: hidden;
      opacity: 0;
    }
  }

}