<button
  class="navigationMobileToggle"
  onclick="getElementById('mobileNavigation').classList.toggle('mobile-navigation-open');toggleScroll();"
>
  {% render 'icon-bars', class: icon_class %}
</button>